:root {
  --clr-neutral-100: #1d1d1d;
  --clr-neutral-200: #35363e;
  --clr-neutral-300: #878682;
  --clr-neutral-400: #a8a8a8;
  --clr-neutral-900: #f8f8f8;
  --clr-red: #c41c1c;
  --border-pillar: linear-gradient(
    90deg,
    var(--clr-neutral-300) 0%,
    var(--clr-neutral-400) 50%,
    var(--clr-neutral-300) 100%
    )
    48%;
  --border-frame: linear-gradient(
    90deg,
    var(--clr-neutral-100) 0%,
    var(--clr-neutral-200) 50%,
    var(--clr-neutral-100) 100%
    )
    48%;
  --border-pillar-and-frame: linear-gradient(
    90deg,
    var(--clr-neutral-300) 0%,
    var(--clr-neutral-400) 24%,
    var(--clr-neutral-100) 24%,
    var(--clr-neutral-200) 50%,
    var(--clr-neutral-100) 76%,
    var(--clr-neutral-400) 76%,
    var(--clr-neutral-300) 100%
    )
    48%;
  --text-width: 70ch;
  --width-outer: 2rem;
  background-image: url("/assets/clouds.avif");
  line-height: 1.5;
  scroll-padding-top: 1.5rem;
}

@media (max-width: 768px) {
  :root {
    --width-outer: 1rem;
  }
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

* {
  font-size: inherit;
}

body {
  font-family: "Georgia", serif;
  hyphens: auto;
  margin-block: var(--width-outer) 0;
  margin-inline: auto;
  max-width: 90ch;
  padding-inline: 0.25rem;
  text-wrap: pretty;
}

header {
  text-align: center;
}
header .dome {
  background-color: var(--clr-neutral-900);
  border: var(--width-outer) solid var(--clr-red);
  border-bottom: none;
  border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%;
  padding-block-start: var(--width-outer);
}
header nav {
  --border-pillar: var(--width-outer) solid var(--clr-neutral-300);
  border-left: var(--border-pillar);
  border-right: var(--border-pillar);
  color: var(--clr-neutral-900);
  font-size: clamp(1.5rem, 1.1429rem + 1.5238vw, 2rem);
  font-style: italic;
  padding-block: 0.5rem;
  background-color: var(--clr-neutral-100);
  box-shadow:
    -0.5rem 0 0 0 var(--clr-neutral-300),
    0.5rem 0 0 0 var(--clr-neutral-300);
}
header .banner {
  background-color: var(--clr-red);
  border-left: solid calc(var(--width-outer) * 2);
  border-right: solid calc(var(--width-outer) * 2);
  border-image: var(--border-pillar-and-frame);
  height: 4rem;
}

main {
  --main-padding: 1rem;
  background-color: var(--clr-neutral-900);
  padding: var(--main-padding);
  border-left: solid calc(var(--width-outer) * 2);
  border-right: solid calc(var(--width-outer) * 2);
  border-image: var(--border-pillar-and-frame);
}

footer {
  border-image: var(--border-pillar);
  border-left: solid var(--width-outer);
  border-right: solid var(--width-outer);
  padding-block-end: 4rem;
}
footer .bottom-window {
  border-left: solid var(--width-outer);
  border-right: solid var(--width-outer);
  border-image: var(--border-frame);
}
footer .bottom-frame {
  background-color: var(--clr-neutral-100);
  height: 4rem;
}
footer .electrical-box {
  padding: 2rem;
  background: linear-gradient(
    135deg,
    rgba(199, 199, 199, 1) 0%,
    rgba(225, 225, 225, 1) 15%,
    rgba(216, 216, 216, 1) 41%,
    rgba(197, 197, 197, 1) 53%,
    rgba(180, 180, 180, 1) 69%,
    rgba(138, 138, 138, 1) 84%
    );
  outline: 0.2rem groove var(--clr-neutral-400);
  outline-offset: -1rem;
}

hr {
  background-image: linear-gradient(
    var(--clr-neutral-200) 0%,
    var(--clr-neutral-100) 25%,
    var(--clr-red) 25%,
    var(--clr-red) 75%,
    var(--clr-red) 75%,
    var(--clr-neutral-100) 75%,
    var(--clr-neutral-200) 100%
    );
  border: none;
  height: 6rem;
  margin-inline: calc(var(--main-padding) * -1);
  position: relative;
  overflow: visible;
}
hr::before {
  content: "";
  --_width: calc(var(--width-outer) / 2);
  width: var(--_width);
  height: 100%;
  background: var(--clr-red);
  position: absolute;
  left: calc(var(--_width) * -1);
  border-radius: 100% 0% 0% 100% / 50% 50% 50% 50%;
}
hr::after {
  content: "";
  --_width: calc(var(--width-outer) / 2);
  width: var(--_width);
  height: 100%;
  background: var(--clr-red);
  position: absolute;
  right: calc(var(--_width) * -1);
  border-radius: 0% 100% 100% 0% / 50% 50% 50% 50%;
}

img {
  background-size: cover;
  border-radius: 0.5rem;
  display: block;
  margin-block-end: 1rem;
  margin-inline: auto;
  width: 100%;
}
img.width-50 {
  max-width: calc(var(--text-width) / 2 - 2rem);
  margin-block-end: 0;
}

figure {
  margin-inline: 0;
}

figcaption {
  background-color: light-dark(black, var(--clr-neutral-900));
  color: light-dark(var(--clr-neutral-900), black);
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-block: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Crimson Text", serif;
  font-style: italic;
  font-weight: 700;
  line-height: 1;
  text-wrap: balance;
  font-size: 1.3em;
}

h1,
.h1 {
  font-size: clamp(3rem, 1.5714rem + 6.0952vw, 5rem);
  font-weight: 400;
  margin-block: 0;
}

h2,
.h2 {
  font-size: 2rem;
  font-weight: 400;
}

h3,
.h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: underline;
}

@media (hover: hover) {
  p a:hover {
    color: revert;
  }
}
p a:is(:active, :focus-visible) {
  color: revert;
}

pre {
  overflow-x: auto;
  padding: 1rem;
  border-radius: 1rem;
}

dl.inline {
  display: grid;
  grid-template-columns: max-content;
}

dl.article-dates {
  font-style: italic;
}

dt:after {
  content: ":";
}

.inline dd {
  margin-inline-start: 1ch;
  grid-column-start: 2;
}

/* CSS for syntax highlighting */
@layer highlighting {
  /*
* LICENSE
* 
* Tomorrow Theme is released under the MIT License:
* 
* Copyright (C) 2011 [Chris Kempson](https://github.com/chriskempson)
* 
* Permission is hereby granted, free of charge, to any person obtaining
* a copy of this software and associated documentation files (the
* "Software"), to deal in the Software without restriction, including
* without limitation the rights to use, copy, modify, merge, publish,
* distribute, sublicense, and/or sell copies of the Software, and to
* permit persons to whom the Software is furnished to do so, subject to
* the following conditions:
* 
* The above copyright notice and this permission notice shall be
* included in all copies or substantial portions of the Software.
* 
* THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
* EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
* MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
* NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
* LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
* OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
* WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/

  pre .hll {
    background-color: #373b41;
  }
  pre {
    background: #1d1f21;
    color: #c5c8c6;
  }
  pre .c {
    color: #969896;
  } /* Comment */
  pre .err {
    color: #cc6666;
  } /* Error */
  pre .k {
    color: #b294bb;
  } /* Keyword */
  pre .l {
    color: #de935f;
  } /* Literal */
  pre .n {
    color: #c5c8c6;
  } /* Name */
  pre .o {
    color: #8abeb7;
  } /* Operator */
  pre .p {
    color: #c5c8c6;
  } /* Punctuation */
  pre .cm {
    color: #969896;
  } /* Comment.Multiline */
  pre .cp {
    color: #969896;
  } /* Comment.Preproc */
  pre .c1 {
    color: #969896;
  } /* Comment.Single */
  pre .cs {
    color: #969896;
  } /* Comment.Special */
  pre .gd {
    color: #cc6666;
  } /* Generic.Deleted */
  pre .ge {
    font-style: italic;
  } /* Generic.Emph */
  pre .gh {
    color: #c5c8c6;
    font-weight: bold;
  } /* Generic.Heading */
  pre .gi {
    color: #b5bd68;
  } /* Generic.Inserted */
  pre .gp {
    color: #969896;
    font-weight: bold;
  } /* Generic.Prompt */
  pre .gs {
    font-weight: bold;
  } /* Generic.Strong */
  pre .gu {
    color: #8abeb7;
    font-weight: bold;
  } /* Generic.Subheading */
  pre .kc {
    color: #b294bb;
  } /* Keyword.Constant */
  pre .kd {
    color: #b294bb;
  } /* Keyword.Declaration */
  pre .kn {
    color: #8abeb7;
  } /* Keyword.Namespace */
  pre .kp {
    color: #b294bb;
  } /* Keyword.Pseudo */
  pre .kr {
    color: #b294bb;
  } /* Keyword.Reserved */
  pre .kt {
    color: #f0c674;
  } /* Keyword.Type */
  pre .ld {
    color: #b5bd68;
  } /* Literal.Date */
  pre .m {
    color: #de935f;
  } /* Literal.Number */
  pre .s {
    color: #b5bd68;
  } /* Literal.String */
  pre .na {
    color: #81a2be;
  } /* Name.Attribute */
  pre .nb {
    color: #c5c8c6;
  } /* Name.Builtin */
  pre .nc {
    color: #f0c674;
  } /* Name.Class */
  pre .no {
    color: #cc6666;
  } /* Name.Constant */
  pre .nd {
    color: #8abeb7;
  } /* Name.Decorator */
  pre .ni {
    color: #c5c8c6;
  } /* Name.Entity */
  pre .ne {
    color: #cc6666;
  } /* Name.Exception */
  pre .nf {
    color: #81a2be;
  } /* Name.Function */
  pre .nl {
    color: #c5c8c6;
  } /* Name.Label */
  pre .nn {
    color: #f0c674;
  } /* Name.Namespace */
  pre .nx {
    color: #81a2be;
  } /* Name.Other */
  pre .py {
    color: #c5c8c6;
  } /* Name.Property */
  pre .nt {
    color: #8abeb7;
  } /* Name.Tag */
  pre .nv {
    color: #cc6666;
  } /* Name.Variable */
  pre .ow {
    color: #8abeb7;
  } /* Operator.Word */
  pre .w {
    color: #c5c8c6;
  } /* Text.whitespace */
  pre .mf {
    color: #de935f;
  } /* Literal.Number.Float */
  pre .mh {
    color: #de935f;
  } /* Literal.Number.Hex */
  pre .mi {
    color: #de935f;
  } /* Literal.Number.Integer */
  pre .mo {
    color: #de935f;
  } /* Literal.Number.Oct */
  pre .sb {
    color: #b5bd68;
  } /* Literal.String.Backtick */
  pre .sc {
    color: #c5c8c6;
  } /* Literal.String.Char */
  pre .sd {
    color: #969896;
  } /* Literal.String.Doc */
  pre .s2 {
    color: #b5bd68;
  } /* Literal.String.Double */
  pre .se {
    color: #de935f;
  } /* Literal.String.Escape */
  pre .sh {
    color: #b5bd68;
  } /* Literal.String.Heredoc */
  pre .si {
    color: #de935f;
  } /* Literal.String.Interpol */
  pre .sx {
    color: #b5bd68;
  } /* Literal.String.Other */
  pre .sr {
    color: #b5bd68;
  } /* Literal.String.Regex */
  pre .s1 {
    color: #b5bd68;
  } /* Literal.String.Single */
  pre .ss {
    color: #b5bd68;
  } /* Literal.String.Symbol */
  pre .bp {
    color: #c5c8c6;
  } /* Name.Builtin.Pseudo */
  pre .vc {
    color: #cc6666;
  } /* Name.Variable.Class */
  pre .vg {
    color: #cc6666;
  } /* Name.Variable.Global */
  pre .vi {
    color: #cc6666;
  } /* Name.Variable.Instance */
  pre .il {
    color: #de935f;
  } /* Literal.Number.Integer.Long */
}

@font-face {
  font-display: block;
  font-family: "Crimson Text";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/CrimsonText-Bold.woff2");
}
@font-face {
  font-display: block;
  font-family: "Crimson Text";
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/CrimsonText-BoldItalic.woff2");
}
@font-face {
  font-display: block;
  font-family: "Crimson Text";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/CrimsonText-Italic.woff2");
}
@font-face {
  font-display: block;
  font-family: "Crimson Text";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/CrimsonText-Regular.woff2");
}
@font-face {
  font-display: block;
  font-family: "Crimson Text";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/CrimsonText-SemiBold.woff2");
}
@font-face {
  font-display: block;
  font-family: "Crimson Text";
  font-style: italic;
  font-weight: 600;
  src: url("/fonts/CrimsonText-SemiBoldItalic.woff2");
}
