:root {
  --text-width: 70ch;
  color-scheme: light dark;

  &:has(input[name="color-scheme"][value="light dark"]:checked) {
    color-scheme: light dark;
  }
  &:has(input[name="color-scheme"][value="light"]:checked) {
    color-scheme: light;
  }
  &:has(input[name="color-scheme"][value="dark"]:checked) {
    color-scheme: dark;
  }

  overflow-x: clip;
}

@font-face {
  font-display: block;
  font-family: "Crimson Text";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/CrimsonText-Bold.woff2");
}
@font-face {
  font-display: block;
  font-family: "Crimson Text";
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/CrimsonText-BoldItalic.woff2");
}
@font-face {
  font-display: block;
  font-family: "Crimson Text";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/CrimsonText-Italic.woff2");
}
@font-face {
  font-display: block;
  font-family: "Crimson Text";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/CrimsonText-Regular.woff2");
}
@font-face {
  font-display: block;
  font-family: "Crimson Text";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/CrimsonText-SemiBold.woff2");
}
@font-face {
  font-display: block;
  font-family: "Crimson Text";
  font-style: italic;
  font-weight: 600;
  src: url("/fonts/CrimsonText-SemiBoldItalic.woff2");
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  display: grid;
  font-family: "Georgia", serif;
  grid-template-columns: minmax(0, 1fr);
  hyphens: auto;
  margin: 0;
  text-wrap: pretty;
  line-height: 1.5;
}

body > * {
  justify-self: center;
}

img {
  background-size: cover;
  border-radius: 0.5rem;
  display: block;
  margin-block-end: 1rem;
  margin-inline: auto;
  width: 100%;
}
img.width-50 {
  max-width: calc(var(--text-width) / 2 - 2rem);
  margin-block-end: 0;
}

figure {
  margin-inline: 0;
}

figcaption {
  background-color: light-dark(black, white);
  color: light-dark(white, black);
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-block: 0.5rem;
}

* {
  font-size: inherit;
  box-sizing: border-box;
}

.wrapper {
  max-width: var(--text-width);
  width: 100%;
  padding-inline: 1rem;
  padding-block: 2rem;
}

fieldset {
  border: 1px solid #ed6e78;
  border-radius: 0.5rem;
  margin: 0;
}

legend {
  background-color: #ed6e78;
  border-radius: 0.5rem;
  color: black;
  padding: 0.5rem;
}

label {
  cursor: pointer;
  display: block;
  margin-block: 1rem;
  width: fit-content;
  -webkit-user-select: none;
  user-select: none;
}

input[type="radio"] {
  margin-inline-end: 0.5rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Crimson Text", serif;
  font-style: italic;
  line-height: 1;
  text-wrap: balance;
}


h1,
.h1 {
  font-size: 2rem;
  margin-block: 0;
}

h2,
.h2 {
  font-size: 1.5rem;
}

h3,
.h3 {
  font-size: 1rem;
  font-weight: bold;
}

a:has(h1, .h1) {
  text-underline-offset: 0.5em;
  text-decoration-thickness: 2px;
}

footer {
  justify-self: stretch;
  justify-items: center;
  background-color: #183a37;
  color: white;
  display: grid;
}

header {
  justify-self: stretch;
  height: 100svh;
  overflow-y: clip;
}
header > * {
  align-content: center;
  display: grid;
  justify-items: center;
}
header :is(h1, .h1) {
  font-size: clamp(2rem, min(15svh, 15vw), 6rem);
}

header .top {
  animation-duration: 1s;
  animation-name: shrink-name;
  animation-timing-function: ease-in-out;
  background-color: #ed6e78;
  color: black;
  height: 50svh;
}

@keyframes shrink-name {
  from {
    height: 100svh;
  }
  to {
    height: 50svh;
  }
}

header .bottom {
  height: 50svh;
  background-color: #183a37;
  color: white;
  text-align: right;
}

a {
  color: inherit;
  text-decoration-line: underline;
}

@media (hover: hover) {
  a:hover {
    color: revert;
  }
}
a:is(:active, :focus-visible) {
  color: revert;
}

pre {
  overflow-x: auto;
  padding: 1rem;
  border-radius: 1rem;
}

dl.inline {
  display: grid;
  grid-template-columns: max-content;
}

dl.article-dates {
  font-style: italic;
}

dt:after {
  content: ":";
}

.inline dd {
  margin-inline-start: 1ch;
  grid-column-start: 2;
}

/* CSS for syntax highlighting */
@layer highlighting {
  /*
   * LICENSE
   * 
   * Tomorrow Theme is released under the MIT License:
   * 
   * Copyright (C) 2011 [Chris Kempson](https://github.com/chriskempson)
   * 
   * Permission is hereby granted, free of charge, to any person obtaining
   * a copy of this software and associated documentation files (the
   * "Software"), to deal in the Software without restriction, including
   * without limitation the rights to use, copy, modify, merge, publish,
   * distribute, sublicense, and/or sell copies of the Software, and to
   * permit persons to whom the Software is furnished to do so, subject to
   * the following conditions:
   * 
   * The above copyright notice and this permission notice shall be
   * included in all copies or substantial portions of the Software.
   * 
   * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
   * EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
   * MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
   * NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
   * LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
   * OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
   * WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
   */

  pre .hll {
    background-color: #373b41;
  }
  pre {
    background: #1d1f21;
    color: #c5c8c6;
  }
  pre .c {
    color: #969896;
  } /* Comment */
  pre .err {
    color: #cc6666;
  } /* Error */
  pre .k {
    color: #b294bb;
  } /* Keyword */
  pre .l {
    color: #de935f;
  } /* Literal */
  pre .n {
    color: #c5c8c6;
  } /* Name */
  pre .o {
    color: #8abeb7;
  } /* Operator */
  pre .p {
    color: #c5c8c6;
  } /* Punctuation */
  pre .cm {
    color: #969896;
  } /* Comment.Multiline */
  pre .cp {
    color: #969896;
  } /* Comment.Preproc */
  pre .c1 {
    color: #969896;
  } /* Comment.Single */
  pre .cs {
    color: #969896;
  } /* Comment.Special */
  pre .gd {
    color: #cc6666;
  } /* Generic.Deleted */
  pre .ge {
    font-style: italic;
  } /* Generic.Emph */
  pre .gh {
    color: #c5c8c6;
    font-weight: bold;
  } /* Generic.Heading */
  pre .gi {
    color: #b5bd68;
  } /* Generic.Inserted */
  pre .gp {
    color: #969896;
    font-weight: bold;
  } /* Generic.Prompt */
  pre .gs {
    font-weight: bold;
  } /* Generic.Strong */
  pre .gu {
    color: #8abeb7;
    font-weight: bold;
  } /* Generic.Subheading */
  pre .kc {
    color: #b294bb;
  } /* Keyword.Constant */
  pre .kd {
    color: #b294bb;
  } /* Keyword.Declaration */
  pre .kn {
    color: #8abeb7;
  } /* Keyword.Namespace */
  pre .kp {
    color: #b294bb;
  } /* Keyword.Pseudo */
  pre .kr {
    color: #b294bb;
  } /* Keyword.Reserved */
  pre .kt {
    color: #f0c674;
  } /* Keyword.Type */
  pre .ld {
    color: #b5bd68;
  } /* Literal.Date */
  pre .m {
    color: #de935f;
  } /* Literal.Number */
  pre .s {
    color: #b5bd68;
  } /* Literal.String */
  pre .na {
    color: #81a2be;
  } /* Name.Attribute */
  pre .nb {
    color: #c5c8c6;
  } /* Name.Builtin */
  pre .nc {
    color: #f0c674;
  } /* Name.Class */
  pre .no {
    color: #cc6666;
  } /* Name.Constant */
  pre .nd {
    color: #8abeb7;
  } /* Name.Decorator */
  pre .ni {
    color: #c5c8c6;
  } /* Name.Entity */
  pre .ne {
    color: #cc6666;
  } /* Name.Exception */
  pre .nf {
    color: #81a2be;
  } /* Name.Function */
  pre .nl {
    color: #c5c8c6;
  } /* Name.Label */
  pre .nn {
    color: #f0c674;
  } /* Name.Namespace */
  pre .nx {
    color: #81a2be;
  } /* Name.Other */
  pre .py {
    color: #c5c8c6;
  } /* Name.Property */
  pre .nt {
    color: #8abeb7;
  } /* Name.Tag */
  pre .nv {
    color: #cc6666;
  } /* Name.Variable */
  pre .ow {
    color: #8abeb7;
  } /* Operator.Word */
  pre .w {
    color: #c5c8c6;
  } /* Text.Whitespace */
  pre .mf {
    color: #de935f;
  } /* Literal.Number.Float */
  pre .mh {
    color: #de935f;
  } /* Literal.Number.Hex */
  pre .mi {
    color: #de935f;
  } /* Literal.Number.Integer */
  pre .mo {
    color: #de935f;
  } /* Literal.Number.Oct */
  pre .sb {
    color: #b5bd68;
  } /* Literal.String.Backtick */
  pre .sc {
    color: #c5c8c6;
  } /* Literal.String.Char */
  pre .sd {
    color: #969896;
  } /* Literal.String.Doc */
  pre .s2 {
    color: #b5bd68;
  } /* Literal.String.Double */
  pre .se {
    color: #de935f;
  } /* Literal.String.Escape */
  pre .sh {
    color: #b5bd68;
  } /* Literal.String.Heredoc */
  pre .si {
    color: #de935f;
  } /* Literal.String.Interpol */
  pre .sx {
    color: #b5bd68;
  } /* Literal.String.Other */
  pre .sr {
    color: #b5bd68;
  } /* Literal.String.Regex */
  pre .s1 {
    color: #b5bd68;
  } /* Literal.String.Single */
  pre .ss {
    color: #b5bd68;
  } /* Literal.String.Symbol */
  pre .bp {
    color: #c5c8c6;
  } /* Name.Builtin.Pseudo */
  pre .vc {
    color: #cc6666;
  } /* Name.Variable.Class */
  pre .vg {
    color: #cc6666;
  } /* Name.Variable.Global */
  pre .vi {
    color: #cc6666;
  } /* Name.Variable.Instance */
  pre .il {
    color: #de935f;
  } /* Literal.Number.Integer.Long */
}
